# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
.venv/

# PyCharm project files
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ignoring the storage folder
storage/